h1 {
  font-family: bicyclette, sans-serif;
  font-weight: 300;
  font-size: 4.625rem;
  text-transform: uppercase;
}

.full-h1 {
  font-weight: 800;
  font-size: 192px;
}

h4 {
  font-family: mundial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
}

p, i {
  font-family: mundial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.125rem;
  font-size: 1.25rem;
}

nav i {
  font-family: mundial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.125rem;
  font-size: 1rem;
}

a {
  font-family: mundial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.125rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}

#date {
  font-family: bicyclette, sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  letter-spacing: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #101010;
  color: #fff;
}

nav {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 99;
}
nav a {
  line-height: 0;
}
nav ul {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
nav ul li {
  text-align: center;
  display: flex;
  align-items: center;
}
nav ul li svg {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}
nav ul li .icon-text {
  position: absolute;
  display: block;
  width: max-content;
  margin-left: 50px;
  margin-bottom: 5px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main > div {
  position: relative;
  min-height: 98vh;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  padding: 0px 30px;
}
main > div .full-h1 {
  position: absolute;
  left: 20%;
  opacity: 15%;
}
main #projects {
  min-height: 960px;
}
main #experience {
  min-height: 1321px;
}
main #education {
  height: 1238px;
  min-height: 1238px;
}
main #contact > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100vh;
  margin-left: auto;
}
main #contact .contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
main #contact .contact-item a {
  font-size: 1.875rem;
  font-weight: 400;
}
main #contact .contact-item svg {
  margin-top: 9px;
}
main #welcome {
  position: relative;
}
main #welcome p {
  text-align: right;
  max-width: 600px;
}

.items {
  margin-top: auto;
}
.items .item {
  max-width: 1050px;
  margin-bottom: 25px;
  cursor: pointer;
  z-index: 99;
}
.items .item .item-info {
  max-width: 700px;
  margin-left: auto;
}
.items .item .item-info img {
  max-width: 700px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0px;
}

#see-more {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

#gradient-overlay {
  height: 550vh;
  width: 100vw;
  position: fixed;
}

a {
  position: relative;
}

a:hover {
  text-decoration: none;
}

#nav-info, #see-more {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

nav {
  transform: translateX(-100px);
  transition: transform 1s cubic-bezier(0, 0.5, 0, 1);
}

ul {
  transform: scale(1) translateX(0px);
  transition: transform 1s cubic-bezier(0, 0.5, 0, 1);
}

.full-h1 {
  transition: opacity 0.5s ease-out;
}

.nav-icon {
  transition: transform 0.5s cubic-bezier(0, 0.5, 0, 1);
  transition: 0.5s ease;
}

.icon-text {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.item-info {
  display: none;
}

.item {
  transition: opacity 0.5s ease-out;
}

.items:hover .item:not(:hover) {
  opacity: 0.15;
}

.item:hover {
  opacity: 1;
}
.item:hover .item-info {
  z-index: 99;
}

@media (hover: hover) and (pointer: fine) {
  a:hover .nav-icon {
    transform: scale(1.1);
    filter: saturate(100%);
    opacity: 1;
  }
  li:hover i {
    display: inline;
  }
  li:hover .icon-text {
    opacity: 1;
  }
  nav:hover ul {
    transform: scale(1.02) translateX(10px);
    transition: transform 1s cubic-bezier(0, 0.5, 0, 1);
  }
  nav:hover #logo {
    filter: saturate(100%);
    opacity: 1;
  }
  nav:hover svg {
    transform: scale(1);
    filter: saturate(0%);
    opacity: 0.2;
  }
  nav:hover #nav-info {
    opacity: 0 !important;
  }
  .active {
    transform: scale(1.25);
    filter: saturate(100%);
    opacity: 100%;
  }
  .inactive {
    transform: scale(1);
    filter: saturate(0%);
    opacity: 20%;
  }
}
@media (min-width: 1251px) and (max-width: 1400px) {
  #nav-info, #see-more {
    visibility: hidden;
  }
  .items {
    width: 50%;
    margin-left: auto;
  }
}
@media (max-width: 1250px) {
  #nav-info, #see-more {
    display: none;
  }
  .full-h1 {
    opacity: 5% !important;
  }
  .items {
    width: 100%;
  }
  .item {
    margin-left: auto;
  }
  #welcome p {
    margin-left: auto;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }
  #welcome p {
    font-size: 1.0625rem;
  }
  main > div {
    width: 90%;
    height: 100%;
    padding: 0 5%;
  }
  #contact > div {
    width: 100% !important;
  }
  .contact-item {
    margin: 0px auto;
  }
  nav {
    height: unset;
    width: 100vw;
  }
  nav ul {
    padding: 15px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  nav ul li {
    display: flex;
    align-items: center;
  }
  #welcome {
    margin-bottom: 120px;
  }
  .item-info a {
    font-size: 1.0625rem;
  }
}