h1 {
  font-family: bicyclette, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 4.625rem;
}

.full-h1 {
  font-weight: 800;
  font-style: normal;
  font-size: 12rem;
}

p {
  font-family: mundial, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
}

#date {
  font-family: bicyclette, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9375rem;
  letter-spacing: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #101010;
  color: #fff;
}

nav {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 99;
}
nav ul {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}
nav ul li {
  text-align: center;
}

main > div {
  position: relative;
  height: 100vh;
}
main > div .full-h1 {
  position: absolute;
  top: 50vh;
  right: 40vw;
  transform: rotate(-90deg);
  line-height: 0;
}

#welcome p {
  position: absolute;
  text-align: right;
  bottom: 30px;
  right: 30px;
  max-width: 600px;
}