a {
    position: relative;
}

a:hover {
    text-decoration: none;
}

a::after {
    border-radius: 1em;
    border-top: .1em solid white;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1);
}

a:hover::after {
    right: 0;
}