// Animationer

a {
    position: relative;
}

a:hover {
    text-decoration: none;
}

#nav-info, #see-more {
    transition: opacity .5s ease-out;
    opacity: 0;
}

nav {
    transform: translateX(-100px);
    transition: transform 1s cubic-bezier(0, .5, 0, 1);
}

ul {
    transform: scale(1) translateX(0px);
    transition: transform 1s cubic-bezier(0, .5, 0, 1);
}

.full-h1 {
    transition: opacity .5s ease-out;
}

.nav-icon {
    transition: transform .5s cubic-bezier(0, .5, 0, 1);
    transition: 0.5s ease;
}

.icon-text {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.item-info {
    display: none;
}

.item {
    transition: opacity .5s ease-out;
}

.items:hover {
    .item:not(:hover) {
        opacity: .15;
    }
}

.item:hover {
    opacity: 1;

    .item-info {
        z-index: 99;
    }
}

#welcome-bg {
    transition: opacity 1s ease;
    opacity: 0;
}

// Animationer för icke-touch enheter
@media (hover: hover) and (pointer: fine) {
    a:hover {
        .nav-icon {
            transform: scale(1.1);
            filter: saturate(100%);
            opacity: 1;
        }
    }

    li:hover {
        i {
            display: inline;
        }

        .icon-text {
            opacity: 1;
        }
    }

  
    
    nav:hover {
        ul {
            transform: scale(1.02) translateX(10px);
            transition: transform 1s cubic-bezier(0, .5, 0, 1);
        }

        #logo {
            filter: saturate(100%);
            opacity: 1;
        }

        svg {
            transform: scale(1);
            filter: saturate(0%);
            opacity: 0.2;
        }

        #nav-info {
            opacity: 0 !important;
        }
    }

    .active {
        transform: scale(1.25);
        filter: saturate(100%);
        opacity: 100%;
    }
    
    .inactive {
        transform: scale(1);
        filter: saturate(0%);
        opacity: 20%;
    }
}