a {
    position: relative;
}

a:hover {
    text-decoration: none;
}

a::after {
    border-radius: 1em;
    border-top: .1em solid white;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1);
}

a:hover::after {
    right: 0;
}

body {
    transition: background-color .5s ease,
                opacity 2.5s ease-out;
    opacity: 0;
}

nav {
    transform: translateX(-100px);
    transition: transform 1s cubic-bezier(0, .5, 0, 1);
}

ul {
    transform: scale(1) translateX(0px);
    transition: transform 1s cubic-bezier(0, .5, 0, 1);
}

.full-h1 {
    transition: opacity .5s ease-out;
}

nav:hover {
    rect {
        filter: brightness(180%) saturate(120%);
    }

    ul {
        transform: scale(1.02) translateX(10px);
        transition: transform 1s cubic-bezier(0, .5, 0, 1);
    }
}

.nav-icon {
    transition: transform .5s cubic-bezier(0, .5, 0, 1);
}