// Tema och typsnitt

// Variabler
$header-font: bicyclette, sans-serif;
$main-font: mundial, sans-serif;
$bg-color: #101010;

// Mixins
@mixin theme {
    background-color: $bg-color;
    color: #fff;
}

@mixin font {
    font-family: $main-font;
    font-weight: 200;
    letter-spacing: 0.125rem;
}

// Typsnitt
h1 {
    font-family: $header-font;
    font-weight: 300;
    font-size: 4.625rem;
    text-transform: uppercase;
}

.full-h1 {
    font-weight: 800;
    font-size: 192px;
}

h4 {
    font-family: $main-font;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
}

p, i {
    @include font;
    font-size: 1.25rem;
}

nav i {
    @include font;
    font-size: 1rem;
}

a {
    @include font;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}

#date {
    font-family: $header-font;
    font-weight: 400;
    font-size: 0.9375rem;
    letter-spacing: normal;
}