$header-font: bicyclette, sans-serif;
$main-font: mundial, sans-serif;
$bg-color: #101010;

@mixin theme {
    background-color: $bg-color;
    color: #fff;
}

h1 {
    font-family: $header-font;
    font-weight: 300;
    font-style: normal;
    font-size: 4.625rem;
}

.full-h1 {
    font-weight: 800;
    font-style: normal;
    font-size: 12rem;
}

p {
    font-family: $main-font;
    font-weight: 200;
    font-style: normal;
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
}

#date {
    font-family: $header-font;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9375rem;
    letter-spacing: normal;
}