// Responsiv styling

@media (min-width:1251px) and (max-width:1400px) {
    #nav-info, #see-more {
        visibility: hidden;
    }

    .items {
        width: 50%;
        margin-left: auto;
    }
}

@media (max-width:1250px) {
    #nav-info, #see-more {
        display: none;
    }
    
    .full-h1 {
        opacity: 5% !important;
    }

    .items {
        width: 100%;
    }

    .item {
        margin-left: auto;
    }

    #welcome p {
        margin-left: auto;
    }
}

@media (max-width:900px) {
    h1 {
        font-size: 3rem;
    }

    #welcome p {
        font-size: 1.0625rem;
    }

    main > div {
        width: 90%;
        height: 100%;
        padding: 0 5%;
    }

    #contact > div {
        width: 100% !important;
    }

    .contact-item {
        margin: 0px auto;
    }
    nav {
        height: unset;
        width: 100vw;

        ul {
            padding: 15px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            gap: 0;

            li {
                display: flex;
                align-items: center;
            }
        }
    }

    #welcome {
        margin-bottom: 120px;
    }

    .item-info a {
        font-size: 1.0625rem;
    }
}